@import url("./reset.css");
@import url("./defaults.css");

:root {
  --black: #242426;
  --white: #f8f8f9;
  --primary: hsl(0, 95%, 64%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background:after {
  position: absolute;
  content: "";
  left: 50vw;
  top: -250vw;
  width: 500vh;
  height: 500vw;
  transform: rotate(45deg);
  transform-origin: -25% 50%;
  background-color: var(--primary);
}

main {
  z-index: 1;
  max-width: 49.6rem;
  min-height: 70.15rem;
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}

p,
a {
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  max-width: 20rem;
}

p + p {
  margin-top: 0.8rem;
}

.side-content {
  background-color: var(--black);
  color: var(--white);
  max-width: 21rem;
}

.side-content .avatar {
  object-fit: cover;
  object-position: 50% 0;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
}

.side-content section,
.side-content article {
  padding: 1rem 3rem;
}

.side-content img + section,
.side-content img + article {
  margin-top: 2.5rem;
}

.side-content p,
.side-content a,
.side-content .text {
  font-size: 0.8rem;
  color: var(--white);
  opacity: 0.5;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
}

.content {
  flex-grow: 1;
  position: relative;
}

.content h3 {
  font-weight: 600;
}

.content h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.content h4 strong {
  font-size: 0.8rem;
  font-weight: 900;
}

.content:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 6.4rem;
  background-color: var(--primary);
  top: 0;
  right: 0;
}

.content .first-name,
.content .last-name,
.content .job-title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.content .first-name {
  margin-top: 3rem;
  font-weight: 100;
}

.content .last-name {
  font-weight: 900;
}

.content .job-title {
  display: block;
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 5.5rem;
}

.content .job-title:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.5rem;
  background-color: var(--primary);
  bottom: -2rem;
  right: 0;
}

.content .talking-point {
  margin: 2rem 3.5rem;
}

.content .talking-point h3:after {
  content: "";
  height: 0.2rem;
  width: 100%;
  max-width: 14rem;
  display: block;
  margin-top: 0.5rem;
  background-color: var(--primary);
}

.content .talking-point .listing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content .talking-point .listing li {
  position: relative;
}

.content .talking-point .listing li::before {
  position: absolute;
  content: "";
  width: 0.6rem;
  aspect-ratio: 1/1;
  background-color: var(--primary);
  left: -1.5rem;
  border-radius: 50%;
  top: 0.1rem;
}

.content .talking-point .flex-listing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content .talking-point .flex-listing li {
  display: flex;
  justify-content: space-between;
}

.content .talking-point .flex-listing .star-title {
  text-transform: uppercase;
}

.content .talking-point .stars {
  display: flex;
  gap: 0.5rem;
  margin-right: 3rem;
}

.content .talking-point .stars li {
  background-color: var(--primary);
  height: 0.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.content .talking-point .stars[data-stars="1"] li:nth-child(-n + 1) {
  background-color: var(--black);
}
.content .talking-point .stars[data-stars="2"] li:nth-child(-n + 2) {
  background-color: var(--black);
}
.content .talking-point .stars[data-stars="3"] li:nth-child(-n + 3) {
  background-color: var(--black);
}
.content .talking-point .stars[data-stars="4"] li:nth-child(-n + 4) {
  background-color: var(--black);
}
.content .talking-point .stars[data-stars="5"] li:nth-child(-n + 5) {
  background-color: var(--black);
}
.content .talking-point .stars[data-stars="6"] li:nth-child(-n + 6) {
  background-color: var(--black);
}

.icon {
  position: relative;
  padding-left: 2.5rem;
  margin: 1rem 0;
}

.icon p,
.icon a,
.icon .text {
  color: var(--white);
  opacity: 0.7;
  font-size: 0.6rem;
  line-height: 1rem;
  max-width: 10rem;
}

.icon::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.icon.icon--pin::before {
  background-image: url("/media/icons/home_pin.svg");
}

.icon.icon--tel::before {
  background-image: url("/media/icons/call.svg");
}

.icon.icon--mail::before {
  background-image: url("/media/icons/mail.svg");
}

.icon.icon--web::before {
  background-image: url("/media/icons/language.svg");
}
